numpy==1.26.4
pandas
yfinance
scikit-learn==1.6.1
statsmodels
xgboost
lightgbm
catboost
matplotlib
seaborn
pandas_market_calendars
mplcursors
scikit-optimize
hmmlearn==0.3.3
pmdarima==2.0.4
statsforecast==2.0.2
pygam
schedule
alpaca_trade_api
alpaca
pytickersymbols==1.15.0
requests
python-dotenv
joblib
